<% include partials/header %>

<div class="ui container">
  <!-- <div class=" ui segment">
    <img class="ui large image" src="https://image.tmdb.org/t/p/original<%=movieContent.poster_path;%>" alt="poster image">
    <p class="ui header"> <%= movieContent.title %> </p>
  </div> -->

  <div class="hero-image">
    <img class="ui medium image" src="https://image.tmdb.org/t/p/original<%=movieContent.poster_path;%>" alt="poster image">
    <div class="hero-text">
      <p class="ui header"> <%= movieContent.title %> </p>
    </div>
  </div>

  <!-- <div class="ui raised segment"> -->
  <h2> Overview </h2>
  <p class=""> <%= movieContent.overview %> </p>
  <h3><%= movieContent.vote_average %> </h3>
  <!-- showing ratings if user rated the movie previously(coming soon) -->


<div>
  <form class="ui form" action="/tonight/approved/access/"+user+"/show/<%=movieContent["id"]%>" method="POST">
  <input type="range" name="ratings" min="0" max="10">
  <button type="submit" class="ui button"> Rate it </button>
</form>
</div>

</div>

<% include partials/footer %>
