<% include ../partials/header %>

<div class=" ui container">
  <div class="ui header"> Here are your favourite movies </div>
  <div class="ui link cards">

    <% favouriteMovies["results"].forEach(function(movie) { %>
    <a class="card" href="/tonight/approved/<%=accountId%>/<%=sessionId%>/home/show/<%= movie.id %>">
    <div class="image">
  <img src="https://image.tmdb.org/t/p/original<%=movie.poster_path;%>" alt="poster image">
</div>
  <div class="content">
    <div class="header">
      <p> <%= movie.title %> </p>
</div>
</div>
</a>
  <% }); %>
</div>




</div>


<% include ../partials/footer %>
